/* Rinton Press */
/* www.rintonpress.com */
/* Xiao Wei Chen */
/* Rinton CSS Style */
/* Copywrite 2000-2005 */
/* All Rights Reserved */

a {COLOR:blue; TEXT-DECORATION: none; font-weight: bold;}
a:visited {COLOR: blue; font-weight: bold;}
a:hover 	{COLOR: green; text-decoration: underline;}
a:active 	{COLOR:blue; font-weight: bold;}

img { border: none;}
body {background-color: white}